- title "Bastardi - Film, ve kterém hraje mnoho známých herců"
- description "Přijďte se podívat na známé tváře. Ve filmu hrají Ladislav Potměšil, Kristýna Leichtová, Alexand Hemala, Saša Rašilov, Tomáš Magnusek, Jan Přeučil a další."
:javascript
  $(document).ready(function() {
    $("#actorList li a").hover(function(){
      $(this).addClass("hover");
    },function(){
      $(this).removeClass("hover");
    }).click(function(){
      $("#actorList li a").removeClass("active");
      $(this).addClass("active");
    });

    _typeface_js.renderDocument();
  });
  function changeActor(jmeno){
    $(".slideshow").hide();
    if($(".actorPhoto").is(':visible')){
      $(".actorPhoto").fadeOut(100,function(){
        showActor(jmeno);
      });
    }else{
      showActor(jmeno);
    }
  }
  function showActor(jmeno){
    $("#actorDetail tr td").html($("#" + jmeno).html());
    $(".actorPhoto").css("background-image", "url('/herci/" + jmeno + ".JPG')");
    $(".actorPhoto").fadeIn(100);
  }

#actorList
  %ul
    %li
      %a{:href => "javascript:changeActor('Magnusek');"} Tomáš Magnusek
    %li
      %a{:href => "javascript:changeActor('Stastny');"} Jan Šťastný
    %li
      %a{:href => "javascript:changeActor('Dejdar');"} Martin Dejdar
    %li
      %a{:href => "javascript:changeActor('Krampol');"} Jiří Krampol
    %li
      %a{:href => "javascript:changeActor('Curi');"} Marián Čuri
    %li
      %a{:href => "javascript:changeActor('Bares');"} Igor Bareš
    %li
      %a{:href => "javascript:changeActor('Zupanic');"} Ladislav Županič
    %li
      %a{:href => "javascript:changeActor('Magnuskova');"} Irena Magnusková
    %li
      %a{:href => "javascript:changeActor('Preucil');"} Jan Přeučil
    %li
      %a{:href => "javascript:changeActor('Obermaierova');"} Jaroslava Obermaierová
    %li
      %a{:href => "javascript:changeActor('Vydra');"} Václav Vydra
    %li
      %a{:href => "javascript:changeActor('Vranova');"} Gabriela Vránová
    %li
      %a{:href => "javascript:changeActor('Bendig');"} Jan Bendig
    %li
      %a{:href => "javascript:changeActor('Kepka');"} Ondřej Kepka
    %li
      %a{:href => "javascript:changeActor('Brozova');"} Kateřina Brožová
    %li
      %a{:href => "javascript:changeActor('Hryc');"} Andrej Hryc
    %li
      %a{:href => "javascript:changeActor('Topfer');"} Tomáš Töpfer
    %li
      %a{:href => "javascript:changeActor('Svobodova');"} Ilona Svobodová
    %li
      %a{:href => "javascript:changeActor('Brzobohaty');"} Radek Brzobohatý
    %li
      %a{:href => "javascript:changeActor('Dalsi');"} dále hrají

%table#actorDetail
  %tr
    %td{:valign => "bottom"}

.data{:style => "display: none;"}
  #Magnusek
    %h2 Tomáš Magnusek
    %p Tomáš Magnusek pokračuje v roli učitele Majera. V tuto chvíli již ředitele školy. Po Majerovi jde v tuto chvíli nejen místní mafián Dostál, ale také jeho otec a v neposlední řadě i policie, která Majera podezírá z vraždy bastardů.

  #Stastny
    %h2 Jan Šťastný
    %p I Jan Šťastný pokračuje ve své roli, místního mafiána Dostála, otce zavražděného Michala, největšího z Bastardů. Tuší, že smrt jeho syna nebyla náhoda a chce zjistit, jak to doopravdy bylo.

  #Dejdar
    %h2 Martin Dejdar
    %p Martin hraje nového policejního vyšetřovatele Karase, který přebírá případy po zesnulém kriminalistovi Palečkovi, kterého známe z prvního dílu. Právě Karas se domnívá, že vraždil Majer.

  #Krampol
    %h2 Jiří Krampol
    %p Další nová postava. Nejstarší z Dostálů společně se svými komplici chce pomstu za smrt vnuka. Připravuje tak systematické psychické týraní a  likvidaci ředitele Majera a jeho přívrženců.
  
  #Curi
    %h2 Marián Čuri
    %p V tuto chvíli se z páťáka Grundzy stává šesťák a je čím dál tím více agresivní. Neuznává autority a zaplétá s rodinou Dostálů. Avšak ani jejich autoritu neuznává a začíná jeho boj o holý život.

  #Bares
    %h2 Igor Bareš
    %p Herec Igor Bareš ztvárňuje v druhém díle Bastardů postavu policejního vyšetřovatele Málka jr., syna školníka Málka, který stále pracuje na škole. Málek jr. je jedním z těch, kteří Majerovi tiše fandí.

  #Zupanic
    %h2 Ladislav Županič
    %p Nový zástupce ředitele na škole Ludvík  je pravou rukou ředitele Majera. Při jedné z aktivit, kdy má ovšem na starosti děti právě Ludvík dochází ke nešťastnému zranění jednoho z žáků. Ludvík se tak dostává do nepříjemné situace.
    
  #Magnuskova
    %h2 Irena Magnusková
    %p Atraktivní učitelka Liebichová přichází na školu jako nová posila. Bude pro ní její vzhled výhodou či nevýhodou pro působení na tomto typu školy.

  #Preucil
    %h2 Jan Přeučil
    %p Školník, o kterém si celá řada diváků myslí doposud, že vyvraždil dva ze tří Bastardů v druhém díle pomáhá Majerovi a je dál nejtajemnější postavou školy.
  
  #Obermaierova
    %h2 Jaroslava Obermaierová
    %p I uklízečky zůstaly z prvního dílu stejné. Uklízečka Míla stále pozoruje a komentuje chod školy a snaží se přežívat v tomto šíleném prostředí.

  #Vydra
    %h2 Václav Vydra
    %p Starosta města, který chce jediné jen, aby byl ve městě klid. Musí odolávat tlaku Dostálů, jež mají ve městě stále velký vliv.

  #Vranova
    %h2 Gabriela Vránová
    %p Manželka nejstaršího z Dostálů se stále ještě nesmířila ze smrti svého vnuka Michala. Majera bytostně nenávidí a nechce čekat až se prozradí. Chce jednat a to rychle.

  #Bendig
    %h2 Jan Bendig
    %p Mladičký výtržník Toman taktéž dělá pro Dostálovce špinavou práci a páchá trestnou činnost společně s Grundzou. Jeho úděl ve snímku je ovšem na konci prakticky rozhodující.

  #Kepka
    %h2 Ondřej Kepka
    %p Další Majerův spojenec v radě i zdá se, jeho jediný osobní přítel ve městě. S Majerem se snaží tvořit pro školu, město i samotné žáky.

  #Brozova
    %h2 Kateřina Brožová
    %p Atraktivní zastupitelka je spojkou Dostálů v politice a podporuje jejich aktivity. Majera nesnáší stejně jako celou školu. Bohužel ani její osud není jednoduchý a čekají na ní nepříjemné chvíle.

  #Hryc
    %h2 Andrej Hryc
    %p Na škole začíná fungovat nový romský pedagogický asistent, jež má pomoci v komunikaci mezi školou a žáky, potažmo jejich rodiče. Pomáhá však i Majerovi.

  #Topfer
    %h2 Tomáš Töpfer
    %p Otec Tomáše Majera, který rovněž přemýšlí o tom, proč šel jeho syn učit na školu, kde působila dcera Jana. Tuší, čeho by byl jeho syn schopen?

  #Svobodova
    %h2 Ilona Svobodová
    %p Matka Tomáše Majera a jeho zavražděné sestry Jany. Stále přemýšlí o tom, proč šel její syn učit na tutéž školu, kam docházeli vrahové její dcery.

  #Brzobohaty
    %h2 Radek Brzobohatý
    %p Legendární český herec ztvárnil ve dvojce Bastardů staršího lékaře, který léčí Majerovo astma a pokouší se ho zasvětit do celého příběhu Dostalů a jiných.
  
  #Dalsi
    %p.smaller Hana Gregorová, Radek Zima, Jana Boušková, Eva Čížkovská, Valentina Thielová, Eva Hrušková, Lubomír Stejskal, Oldřich Vlach, J.A.Duchoslav, Dominika Mesárošová, Jan Cimický, Krasimír Marinov, Jaroslava Hanušová, Radim Uzel, Petr Jančařík, David Novotný, Ivan Jiřík, Valerie Zawadská, Jakub Štěpán, David Gránský, Jitka Válková, Ernesto Čekan, Ivo Jahelka, Zuzana Sttirská, David Snášel, Tomáš Snášel aj.  
