- title "Bastardi - Informace o novém českém filmu"
- description "Film vychází z autorova dlouholetého působení v základním školství, kde čerpal inspiraci pro drsný příběh o dětech ze sociálně vyloučených lokalit. Film pojednává o brutální vraždě mladé praktikantky, kterou mají na svědomí právě tři chlapci z jedné základní školy."
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h1 Příběh je prošpikován historkami ze školního prostředí a nově také akčními obrazy.
.image
  .o_filmu
    %img{:src => "/o_filmu/o_filmu1.jpg"}
.image
  .o_filmu
    %img{:src => "/o_filmu/o_filmu2.jpg"}
%p Druhý díl začíná krátce po smrti největšího bastarda Michala Dostála. Michalův otec a dědeček jsou přesvědčeni, že učitel Majer stál za vraždami všech tří žáků a mstil smrt své sestry. Začnou tak Majera psychicky deptat a hledají důkazy. Důkazy hledá také nový policejní vyšetřovatel Karas, jež přebírá agendu po zesnulém policejní vyšetřovateli Palečkovi. Karasovi se okamžitě v případech úmrtí "Bastardů" něco nezdá a začíná se zaměřovat též na Majera, který je v tuto chvíli již ředitelem školy.

