-title "Bastardi - Naši partneři"
-description "Děkujeme všem partnerům. Mezi nimi patří STEF recycling, Batist, Bronas, CDS, Tyros Loading Systems, Hašpl, Mary Kay, Nail tek, Kadeřnictví Butik U bílé vrány, Primátor, Potraviny Verner, Stavis a další."
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });
%h2.partner_section Hlavní partner
.center
  %a{:href => "http://www.stefrecycling.cz", :target => "_blank"}
    %img{:src => "/sponzori/stef.png"}
%h2.partner_section Partneři
%br
.center
  %map{:name => "sponzori_links"}
    %area{:share => "rect", :alt => "Fujifilm Česko", :title => "Fujifilm Česko", :coords => "16,14,96,35", :href => "http://www.fujifilm.eu/cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Interiérové a exteriérové malby", :title => "Interiérové a exteriérové malby", :coords => "137,1,184,51", :href => "http://www.colorworks.me/", :target => "_blank"}
    %area{:share => "rect", :alt => "Dolby Digital", :title => "Dolby Digital", :coords => "205,8,278,46", :href => "http://www.dolby.com/", :target => "_blank"}
    %area{:share => "rect", :alt => "Filmová databáze online FDb.cz", :title => "Filmová databáze online FDb.cz", :coords => "317,2,408,46", :href => "http://www.fdb.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Lyžařský areál Skipark Mladé Buky - Krkonoše na dosah", :title => "Lyžařský areál Skipark Mladé Buky - Krkonoše na dosah", :coords => "433,8,534,47", :href => "http://www.skipark-mladebuky.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Bronas spol. s r.o.", :title => "Bronas spol. s r.o.", :coords => "559,13,637,37", :href => "http://www.bronas.cz", :target => "_blank"}
    %area{:share => "rect", :alt => "Město Náchod", :title => "Město Náchod", :coords => "656,3,703,60", :href => "http://www.mestonachod.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "MATRIX a.s. | Autocentrum Lipovka", :title => "MATRIX a.s. | Autocentrum Lipovka", :coords => "715,10,834,39", :href => "http://www.matrix-as.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Královéhradecký kraj", :title => "Královéhradecký kraj", :coords => "6,65,92,104", :href => "http://www.kr-kralovehradecky.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Detecha", :title => "Detecha", :coords => "110,78,204,101", :href => "http://www.detecha.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "KŠD ŠŤOVÍČEK:​ KANCELÁŘ", :title => "KŠD ŠŤOVÍČEK:​ KANCELÁŘ", :coords => "224,69,298,99", :href => "http://www.ksd.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Hašpl a.s.", :title => "Hašpl a.s.", :coords => "323,70,400,104", :href => "http://www.haspl.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Autobusová a nákladní doprava		 logistika		 celní služby		 prodej pohonných hmot		 opravárenství - CDS Náchod", :title => "Autobusová a nákladní doprava logistika celní služby prodej pohonných hmot opravárenství - CDS Náchod", :coords => "425,80,533,99", :href => "http://www.cdsnachod.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Pivovar Primátor", :title => "Pivovar Primátor", :coords => "560,76,637,101", :href => "http://www.primator.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "ASOCIACE SAMARITÁNŮ ČESKÉ REPUBLIKY", :title => "ASOCIACE SAMARITÁNŮ ČESKÉ REPUBLIKY", :coords => "652,72,723,109", :href => "http://www.ascr.cz", :target => "_blank"}
    %area{:share => "rect", :alt => "Ubytování Náchod - Víkendové pobyty – Hotel Tommy", :title => "Ubytování Náchod - Víkendové pobyty – Hotel Tommy", :coords => "767,56,818,113", :href => "http://www.hotel-tommy.com/", :target => "_blank"}
    %area{:share => "rect", :alt => "Mandisan s.r.o. - majáky		 majáková technika		 bazar sanitek", :title => "Mandisan s.r.o. - majáky		 majáková technika		 bazar sanitek", :coords => "6,122,141,156", :href => "http://www.majaky-mandisan.cz/	", :target => "_blank"}
    %area{:share => "rect", :alt => "..:​ DODÁVKY.COM :​..", :title => "..:​ DODÁVKY.COM :​..", :coords => "169,123,285,157", :href => "http://www.dodavky.com/", :target => "_blank"}
    %area{:share => "rect", :alt => "Penzion Klídek", :title => "Penzion Klídek", :coords => "311,121,419,152", :href => "http://www.penzion-klidek.cz", :target => "_blank"}
    %area{:share => "rect", :alt => "Tělocvičná jednota Sokol Nové Město nad Metují", :title => "Tělocvičná jednota Sokol Nové Město nad Metují", :coords => "468,120,616,150", :href => "http://sokol-novemestonm.webnode.cz/", :target => "_blank"}
    %area{:share => "rect", :alt => "Ronox - Restaurace a ubytování v České Skalici", :title => "Ronox - Restaurace a ubytování v České Skalici", :coords => "663,119,846,152", :href => "http://www.ronox.cz/", :target => "_blank"}
  %img{:src => "/sponzori/loga.png?v=2", :usemap => "#sponzori_links", :width => "850", :height => "160"}

%h2.partner_section Mediální partneři
%br
.center
  %a.partner{:href => "http://www.bravo.cz/", :target => "_blank"}
    %img{:src => "/sponzori/bravo.png", :alt => "Stránky oblíbeného časopisu BRAVO.", :style => "margin-bottom: 15px;"}
  %a.partner{:href => "http://www.mafiarecords.cz", :target => "_blank"}
    %img{:src => "/sponzori/mafia.png", :alt => "Oficiální web společnosti Mafia Records."}
  %a.partner{:href => "http://www.fajnradio.cz", :target => "_blank"}
    %img{:src => "/sponzori/fajn.png", :alt => "Fajn rádio."}
  %a.partner{:href => "http://www.prima-cool.cz", :target => "_blank"}
    %img{:src => "/sponzori/cool.png", :alt => "Prima Cool", :style => "margin-bottom: 15px;"}
  %a.partner{:href => "http://www.rengl.cz", :target => "_blank"}
    %img{:src => "/sponzori/rengl.png", :alt => "RENGL s.r.o. - výlep plakátů, plakátovací plochy"}
