- title
- description

%h2 Velká  soutěž o 140 lístků do vašeho kina
%p.small Soutěžte s filmem Bastardi 2 o volný lístek do kina ve vašem okrese. Stačí správně odpovědět na tři soutěžní otázky a vybrat okres, ve kterém chcete jít do kina. V každém okrese budou vylosování dva výherci, kteří obdrží volný lístek do kina. Soutěž byla ukončena. Výherci budou oznámeni emailem během dnešního dne. Pro více informací čtěte <a href="/pravidla.pdf">přesná pravidla soutěže.</a>

%table.winners
  %tr
    %td.name Benešov
    %td Eva Filipčíková, Vladimír Voltr
  %tr
    %td.name Beroun
    %td Karel Buncík, Sabina Zachová
  %tr
    %td.name Blansko
    %td Ladislav Czigleczki, Roman Plíšek
  %tr
    %td.name Břeclav
    %td Dana Zahnášová, Lucie Benešová
  %tr
    %td.name Brno-město
    %td Marek Audy, Radim Zábojník
  %tr
    %td.name Brno-venkov
    %td Karel Krejčí, Kateřina Melkusová
  %tr
    %td.name Bruntál
    %td Dominik Chromý, Petr Dořičák
  %tr
    %td.name Česká Lípa
    %td Jan Zuska, Michaela Strnadová
  %tr
    %td.name České Budějovice
    %td Filip Nachtigal, Robert Rohrbach
  %tr
    %td.name Cheb
    %td Dominika Chovancová, Vojtěch Kostrhún
  %tr
    %td.name Chomutov
    %td Martin Hlavatý, Petra Iblová
  %tr
    %td.name Chrudim
    %td František Kolář, Sulzer Dominik
  %tr
    %td.name Děčín
    %td Jana Mužíková, Tomáš Jano
  %tr
    %td.name Domažlice
    %td Kristýna Berková, Marcel Slezák
  %tr
    %td.name Frýdek-Místek
    %td Bronislav Rucki, Zdeněk Žatečka
  %tr
    %td.name Havlíčkův Brod
    %td Hana Petrová, Nina Příborská
  %tr
    %td.name Hodonín
    %td Jan Chalupa, Roman Klígl
  %tr
    %td.name Hradec Králové
    %td Jan Šimek, Richard Žák
  %tr
    %td.name Jablonec nad Nisou
    %td Barbora Michková, patrik
  %tr
    %td.name Jeseník
    %td Adriana Pospíšilová, Lenka Zjavková
  %tr
    %td.name Jičín
    %td Dominik Kvapil, Mizera Petr
  %tr
    %td.name Jihlava
    %td Jan Slávik, Klára Peroutková
  %tr
    %td.name Jindřichův Hradec
    %td Jan Stefl, Lukáš Anděra
  %tr
    %td.name Karlovy Vary
    %td Lukáš Trenda, Radek Flekáč
  %tr
    %td.name Karviná
    %td Jakub Novák, Pavel Brežina
  %tr
    %td.name Kladno
    %td Jana Malá, Stanislav Troch
  %tr
    %td.name Klatovy
    %td Iveta Pulkrábková, Petr Strnad
  %tr
    %td.name Kolín
    %td Adéla Krčíková, Petra Hodulíková
  %tr
    %td.name Kroměříž
    %td Christian Cassinelli, Kristina Pobišová
  %tr
    %td.name Kutná Hora
    %td Jitka Čabelická, Martina Veselá
  %tr
    %td.name Liberec
    %td Klára Náglová, Petr Mencl
  %tr
    %td.name Litoměřice
    %td Jakub Novosad, Michaela Šafářová
  %tr
    %td.name Louny
    %td Kamila Mazochova, Kupček Tomáš
  %tr
    %td.name Mělník
    %td Pavel Šulc, Vratislav Ruda
  %tr
    %td.name Mladá Boleslav
    %td David Pavlis, Stanislav Haspeklo
  %tr
    %td.name Most
    %td Jana Hepilová, Rostislav Novák
  %tr
    %td.name Náchod
    %td Lucie Šnorbertová, Tomáš Kudrnáč
%table.winners
  %tr
    %td.name Nový Jičín
    %td Alena Erlová, David Novák
  %tr
    %td.name Nymburk
    %td Jan Zachariáš, Simona Holanová
  %tr
    %td.name Olomouc
    %td Aneta Krátošková, Veronika Hájková
  %tr
    %td.name Opava
    %td Hana Keleová, Jakub Světlík
  %tr
    %td.name Ostrava
    %td Jakub Lanča, Šarka Čížová
  %tr
    %td.name Pardubice
    %td Adam Šika, Simona Konárková
  %tr
    %td.name Pelhřimov
    %td Jan Plešák, Jitka Vašáková
  %tr
    %td.name Písek
    %td Simona Palánová, Veronika Vízková
  %tr
    %td.name Plzeň-jih
    %td Hana Mahdalová, Tomáš Eichler
  %tr
    %td.name Plzeň-město
    %td Anežka Brudnová, Michael Beneš
  %tr
    %td.name Plzeň-sever
    %td Jana Kaprhalova, Tomáš Benešovský
  %tr
    %td.name Praha-město
    %td Adriana Šilerová, Kateřina Sasová
  %tr
    %td.name Praha-východ
    %td Jana Hráská, Mikuláš Mayer
  %tr
    %td.name Praha-západ
    %td Dominik Musil, Lucie Kalašová
  %tr
    %td.name Přerov
    %td Denis Ferda, Martin Rozkošný 
  %tr
    %td.name Příbram
    %td Jitka Běhavá, Petr Minařík
  %tr
    %td.name Prostějov
    %td Aleš Kryl, Jiří Mikulka
  %tr
    %td.name Rakovník
    %td Michal Hegr, Pavel Hrabě
  %tr
    %td.name Rychnov nad Kněžnou
    %td Honza Tomíček, Lucie Krčmářová
  %tr
    %td.name Semily
    %td Aleš Kostelecký, Ilona Šmiková
  %tr
    %td.name Sokolov
    %td František Sedlák, Roman Klášterka
  %tr
    %td.name Strakonice
    %td Miloš Benedikt, Richard Náhlík
  %tr
    %td.name Šumperk
    %td Kuba Ošťádal, Patrik Neoral
  %tr
    %td.name Svitavy
    %td Stanislav Trnka, Šárka Mrkvičková
  %tr
    %td.name Tábor
    %td Ondřej Matyš
  %tr
    %td.name Tachov
    %td Irena Lebedová, Laďka Horváthová
  %tr
    %td.name Teplice
    %td Jaromír Zelenka, Václav Krejčí
  %tr
    %td.name Třebíč
    %td Jakub vídenský, Michal Schmidt
  %tr
    %td.name Trutnov
    %td Jaroslav Pulpán, Sylvie Baudyšová
  %tr
    %td.name Uherské Hradiště
    %td Jakub Reinberk, Růžena Halová
  %tr
    %td.name Ústí nad Labem
    %td Filip Ulbrich, Michaela Kokošková
  %tr
    %td.name Ústí nad Orlicí
    %td Matej Smejkal, Marek Živný
  %tr
    %td.name Vsetín
    %td Kristýna Potočná, Petra Novosadová
  %tr
    %td.name Vyškov
    %td Pavel Holíček, Tomáš Petro
  %tr
    %td.name Žďár nad Sázavou
    %td Lukáš Slavíček
  %tr
    %td.name Zlín
    %td Andrea Knedlová, Kristýna Fľaková
  %tr
    %td.name Znojmo
    %td Michaela Bauerová
