- title
- description

%h2 Velká  soutěž o 140 lístků do vašeho kina
%p.small Soutěžte s filmem Bastardi 2 o volný lístek do kina ve vašem okrese. Stačí správně odpovědět na tři soutěžní otázky a vybrat okres, ve kterém chcete jít do kina. V každém okrese budou vylosování dva výherci, kteří obdrží volný lístek do kina. Soutěž byla ukončena. Výherci budou oznámeni emailem během dnešního dne. Pro více informací čtěte <a href="/pravidla.pdf">přesná pravidla soutěže.</a>
