- title "Bastardi - Tvůrci českého filmu"
- description "Tomáš Magnusek, Petr Šícha, Jan Lengyel, Antonín Žovinec, Ivana Buková"
:javascript
  $(document).ready(function() {
    _typeface_js.renderDocument();
  });

.tvurci
  %h2 Jan Lengyel
  .image_background
    %img{:src => "/tvurci/Lengyel.jpg"}
  %h3 producent, režisér
  %p Bastardi II je režisérským debutem Jana Lengyela. Jan Lengyel, mimochodem vystudovaný kameraman se na svoji první režii těší a doufá ve vynikající výsledek.

.tvurci
  %h2 Tomáš Magnusek
  .image_background
    %img{:src => "/tvurci/Magnusek.jpg"}
  %h3 autor scénáře, ko-producent, herec
  %p Jako scénárista je podepsán pod snímky Pamětnice a Bastardi. Jako herce jste jej mohli zahlédnout ve snímcích Bastardi, Czech Made Man, Pamětnice, Rekvalifikace či v seriále Ordinace v růžové zahradě.

.tvurci
  %h2 Milan Hodek
  .image_background
    %img{:src => "/tvurci/Hodek.jpg"}
  %h3 kameraman
  %p Dlouholetý spolupracovník Jana Lengyela v rámci společnosti Pegasfilm s.r.o. Společně s Honzou připravuje Milan Hodek také snímek Nelítostně a rovněž z pozice hlavního kameramana.

.tvurci
  %h2 Ondřej Konvička
  .image_background
    %img{:src => "/tvurci/Konvicka.jpg"}
  %h3 hudební skladatel/zvukař
  %p Coby hudební skladatel má za sebou řadu menších i větších komerčních projektů. Jako autor několika skladeb působil již v prvním díle filmu Bastardi. Bastadi 2 budou jeho prvním filmovým počinem, ve kterém roli hudebního skladatele zaujímá on sám.
